@model MelnikauDV.Models.ProfitAdv

@{
    ViewData["Title"] = "Удаление расчетов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удаление расчетов</h1>

<h3>Вы уверены, что хотите удалить?</h3>
<div>
   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Effort)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Effort)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PageViews)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PageViews)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.kef)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.kef)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Advertisement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Advertisement.Company)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
