@model IEnumerable<MelnikauDV.Models.ProfitAdv>

@{
    ViewData["Title"] = "Прибыльность рекламы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Прибыль и затраты реклам</h1>

<p>
    <a asp-action="Create">Расчитать данные о новой рекламе</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Effort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageViews)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Advertisement)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Effort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageViews)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Advertisement.Company)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
